<configuration>
        <appSettings>
                <add key="docPath" value="/cygdrive/d/j/workspace/build-package-win-mono-2017-06/packaging/Windows/tmp/mono/lib/monodoc" />
                <add key="docExternalPath" value="" />
                <!-- <add key="cache" value="file,~/path/to/cache/directory" /> -->
        </appSettings>
</configuration>
